###head###
!.mvn/wrapper/maven-wrapper.jar
target/
###head###

### sts ###
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
.springBeans
### sts ###

### idea ###
*.iml
*.ipr
*.iws
.idea
rebel.xml
.DS_Store
**/logs/
**/temp/
### idea ###
